<p>moodleのlogを毎日取得する</p>
<%= form_tag({controller: "subscriptions", action: "create", method: "post"}, {multipart: true}) do %>
  <div class="field">
    <%= label_tag "moodle-url", "moodleのURLを入力してください" %><br>
    <%= text_field :logs, :moodle_url, id:"moodle-url",class:"form-control",placeholder:"(例) https://e-mdl.kure-nct.ac.jp/report/log/index.php?id=402"%>

    <%= label_tag "moodle-username", "moodleのユーザーネームを入力してください" %><br>
    <% if Moodle.all[0]&.username %>
      <%= text_field :logs, :moodle_username, id:"moodle-username",class:"form-control",value: Moodle.all[0].username %>
    <% else %>
      <%= text_field :logs, :moodle_username, id:"moodle-username",class:"form-control" %>
    <% end %>
    <%= label_tag "moodle-password", "moodleのパスワードを入力してください" %><br>
    <% if Moodle.all[0]&.password %>
      <%= text_field :logs, :moodle_password, id:"moodle-password",class:"form-control",value: Moodle.all[0].password %>
    <% else %>
      <%= text_field :logs, :moodle_password, id:"moodle-password",class:"form-control" %>
    <% end %>

    <%= label_tag "log-name", "ログの名前を入力してください" %><br>
    <%= text_field :logs, :log_name, id:"log-name",class:"form-control",placeholder:"(例) 小テスト１"%>
  </div>

  <div class="actions">
    <%= submit_tag "毎日取得する"%>
  </div>
<% end %>
